
* html .layer_board_bg,
* html .layer_board {
	position: absolute;
}

.layer_board_bg {
	position: fixed;
	width: 500px;
	height: 200px;
	z-index: 2000;
	margin: 50px 0px 0px -285px;
	left: 50%;
	display: none;
	cursor: pointer;
	background: #ffffff;
	border: 2px solid #000000;
}

.layer_board {
	text-align: center;
	margin-top: 5%;
}