@media screen and (max-width: 1024px){
    /* 4/18 tab対応 */

    /* ステージング対応 */
    table.user-table-two.tablesorter {
        display: block;
        overflow-x: scroll;
        width: 95%;
    }
        table.user-table-two.tablesorter .fixed_th_1{
            position: sticky;
            left: 4px;
        }
        table.user-table-two.tablesorter .fixed_th_2{
            position: sticky;
            left: calc(4px + 46px + 4px);/* セル幅分 */
        }
        table.user-table-two.tablesorter .fixed_th_3{
            position: sticky;
            left: calc(54px + 84px + 4px);/* セル幅分 - 線幅分 */
        }
        table.user-table-two.tablesorter td.fixed_th_1,
        table.user-table-two.tablesorter td.fixed_th_2,
        table.user-table-two.tablesorter td.fixed_th_3{
            background-color: white;
        }
}
@media screen and (max-width: 560px){
    .index_button{
        width: 350px;
        height: 75px;
        padding: 20px;
    }

    /* テーブル幅変更 */
    .table.user-table-two.tablesorter {
        display: table;
    }
    table.user-table-two.tablesorter .fixed_th_1{
        position: unset;
    }
    table.user-table-two.tablesorter .fixed_th_2{
        left: 0px;
    }
    table.user-table-two.tablesorter .fixed_th_3{
        left: calc(84px + 4px);
    }

}
