@media screen and (max-width: 1024px){
    /* 4/28 */



    .lecture_center .lecture-table{
        display: block;
        overflow-x: scroll;
        width: 95%;
    }
    .lecture_center .lecture-table th.fixed_th_1{
        position: sticky;
        left: 4px;
    }
    .lecture_center .lecture-table td.fixed_th_1{
        background-color: unset;
    }
    .lecture_center .lecture-table th.fixed_th_2{
        position: sticky;
        left: 150px;
    }
    .lecture_center .lecture-table td.fixed_th_2{
        position: sticky;
        left: 150px;
        background-color: unset;
    }



}
@media screen and (max-width: 560px){
    .lecture_center{
        margin: 1em 1em 3em 1em;
        padding:0;
    }

    .lecture_center .lecture-table th.fixed_th_2,
    .lecture_center .lecture-table td.fixed_th_2{
        position: unset;
    }
}

