@media screen and (max-width: 1024px){
    /* 4/22 */
    .zoom-list-area table.user-table .fixed_th_1{
        position: sticky;
        left: 4px;
    }
    .zoom-list-area table.user-table td.fixed_th_1{
        background-color: unset;
    }
    .zoom-list-area table.user-table .fixed_th_2{
        position: sticky;
        left: 110px;
    }
    .zoom-list-area table.user-table td.fixed_th_2{
        background-color: unset;
    }
    .zoom-list-area table.user-table .fixed_th_3{
        position: sticky;
        left: 370px;
    }
    .zoom-list-area table.user-table td.fixed_th_3{
        background-color: unset;
    }



}
@media screen and (max-width: 560px){
    .zoom-list-area table.user-table .fixed_th_1,
    .zoom-list-area table.user-table td.fixed_th_1{
        position: unset;
    }
    .zoom-list-area table.user-table .fixed_th_2,
    .zoom-list-area table.user-table td.fixed_th_2{
        position: unset;
    }
    .zoom-list-area table.user-table .fixed_th_3,
    .zoom-list-area table.user-table td.fixed_th_3{
        left: 4px;
    }
}

