@media screen and (max-width: 1024px){
    .history_list.mode-sp{
        display: none;
    }

    table#table_detail.history-lsit-kougi-table.mode-pc{
        display: block;
    }

    /* ステージング対応 */
    table.user-table {
        display: block;
        overflow-x: scroll;
        width: 95%;
        /* table-layout: fixed; */
    }
        table.user-table .fixed_th_1{
            position: sticky;
            left: 4px;
        }
        table.user-table .fixed_th_2{
            position: sticky;
            left: 110px;/* セル幅分 */
        }
        table.user-table .fixed_th_3{
            position: sticky;
            left: calc(220px - 3px);/* セル幅分 - 線幅分 */
        }
        table.user-table td.fixed_th_1,
        table.user-table td.fixed_th_2,
        table.user-table td.fixed_th_3{
            background-color: white;
        }
}
@media screen and (max-width: 560px){
    .page-id-37 .history_list_select_contents{
        width: auto;
        display: unset;
    }

    .page-id-37 .disp_close1,
    .page-id-37 .disp_close2,
    .page-id-37 .disp_close3,
    .page-id-37 .disp_close4,
    .page-id-37 .disp_close5,
    .page-id-37 .disp_close6,
    .page-id-37 .disp_close7,
    .page-id-37 .disp_close8,
    .page-id-37 .disp_close9,
    .page-id-37 .disp_close10,
    .page-id-37 .disp_close11,
    .page-id-37 .disp_close12{
        display: none;
    }

    table#table_detail.history-lsit-kougi-table.mode-pc{
        display: none;
    }

    table.history-lsit-kougi-table{
        margin-left: 11%;
    }

    /* sp用修正　5/13 */
    .history_list.mode-pc{
        display: none;
    }
    .history_list.mode-sp{
        display: inline-table;
        margin-left: 2.5%;
    }

    /* 12/7 sp対応 */
    .index_button{
        width: 350px;
        height: 75px;
        padding: 20px;
    }

    /* テーブル幅変更 */
    .table.user-table {
        display: table;
    }

    /* table.user-table.history_list.mode-sp{
        font-size: 75%;
    } */

    /* table.user-table .fixed_th_1{ */
    table.user-table.history_list th.fixed_th_1,
    table.user-table.history_list td.fixed_th_1{
        position: unset;
    }
    /* table.user-table .fixed_th_2{ */
    table.user-table.history_list th.fixed_th_2,
    table.user-table.history_list td.fixed_th_2{
        position: unset;
    }
    table.user-table .fixed_th_3{
        left: 0px;
    }

}

/* 該当ユーザー以外のボタン表示　12/16追加 */
.fixed_th_1 .no_push,
.fixed_th_2 .no_push{
    background-color: #bfdcea;
}

.fixed_th_1 input[type="button"]:hover ,
.fixed_th_2 input[type="button"]:hover{
    background-color: #bfdcea;
}

/* 12/23 ザラバ回数欄調整 */
@media screen and (max-width: 1024px){
    .history-lsit-kougi-table{
        width: 95.5%;
    }
}
@media screen and (max-width: 560px){
    .history-lsit-kougi-table{
        overflow-x: scroll;
        display: block;
    }
}