
/* 12/23 テーブル調整 */
@media screen and (max-width: 560px){
    .page-id-35 .user-table-two{
        /* display: block; */
        overflow-x: scroll;
        width: 95%;
        font-size: 75%;
    }

    table.c-table th{
        width: 150px;
    }
    table.c-table input{
        width: 230px;
    }
}