/****************************************
       メールメニュー
*****************************************/
.mail-menu-area{

}

.mail-menu-contents{

}

.mail-menu-button-area {
}

.mail-menu-button{

}

@media screen and (max-width: 1024px){
    .user-table-container{
        width: 95%;
    }
}

@media screen and (max-width: 560px){
    .page-id-808 table.lecture-table .fixed_th_2{
        position: unset;
    }
}



.mail-menu-button-area a {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em;
    width: 500px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    margin-bottom: 3%;
}
@media screen and (max-width: 560px){
    .mail-menu-button-area a {
        width: 90%;
    }
}

    .mail-menu-button-area a::after {
        width: 5px;
        height: 5px;
        border-top: 3px solid #333333;
        border-right: 3px solid #333333;
        transform: rotate(45deg);
    }

    .mail-menu-button-area a:hover {
        text-decoration: none;
        background-color: #bbbbbb;
    }

/****************************************
       メール作成
*****************************************/

.mail-send-main-area {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mail-send-main-contents {
}
@media screen and (max-width: 1024px){
    .mail-send-main-contents {
        width: 95%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 560px){
    .mail-send-main-contents {
        width: 95%;
        margin: 0 auto;
    }
}


.mail-send-input-area {
    margin-bottom: 2%;
}

.mail-send-input-label{

}

.mail-send-input-str {
    margin-left: 5%;
    width: 60%;
}
.mail-send-input-str input{
    width: 100%;
}
@media screen and (max-width: 560px){
    .mail-send-input-str {
        width: 95%;
    }

    .mail-send-input-str input{
        width: 100%;
    }
}

.mail-send-submit-area{

}

.mail-send-submit-contents {
    text-align: center;
}

.mail-send-submit {
    width: 400px;
    height: 80px;
}



.mail-send-input-textarea {
}

.mail-send-input-textarea-contents{

}

.mail-send-textarea-label{

}

.mail-send-textarea-str {
    padding-bottom: 2%;
    padding-left: 1%;
}

.mail-send-input-contents {
    display: flex;
}
@media screen and (max-width: 560px){
    .mail-send-input-contents {
        display: unset;
    }
}

.mail-send-check-textarea {
    margin-top: 5%;
    width: 100%;
    border: 1px solid #333333;
    margin-bottom: 5%;
}

.mail-send-check-textarea-contents{

}

.mail-send-check-area {
    margin-bottom: 1%;
}

.mail-send-check-contents {
    display: flex;
}

.mail-send-check-label {
    border: 1px solid #333333;
    width: 20%;
    text-align: center;
}

.mail-send-check-str {
    border: 1px solid #333333;
    width: 80%;
    padding-left: 2%;
}


.mail-return-submit {
    width: 400px;
    height: 80px;
}

.mail-check-post-label {
    text-align: center;
    margin-bottom: 3%;
    font-size: 32px;
}

.mail-send-submit-return-area {
    text-align: center;
    margin-bottom: 5%;
}