.page-id-487 table.user-table-two.mode-sp{
    display: none;
}
@media screen and (max-width: 1024px){
    /* 4/20 */
    .page_div_box.report_list table.user-table-two .fixed_th_1{
        position: sticky;
        left: 4px;
    }
    .page_div_box.report_list table.user-table-two .fixed_th_2{
        position: sticky;
        left: 110px;
    }
    .page_div_box.report_list table.user-table-two .fixed_th_3{
        position: sticky;
        left: 217px;
    }


}
@media screen and (max-width: 560px){
    .page-id-487 table.user-table-two.mode-pc{
        display: none;
    }
    .page-id-487 table.user-table-two.mode-sp{
        display: inline-table;
    }

    .page-id-487 table.mode-sp.user-table-two td{
        white-space: normal;
    }
}

