.page-id-849 .tablesorter-header-inner {
    background-color: unset;
}

@media screen and (max-width: 560px){
    .page-id-849 .user-table-container.mode-sp{
        /* overflow: unset; */
    }

    .trainee_email{
        font-size: 18px;
    }


    .page-id-849 table.lecture-table{
        /* display: block; */
        width: 95%;
    }

    .page-id-849 .pager{
        margin-left: 0px;
    }
}