@media screen and (max-width: 1024px){
    /* 4/19 tab対応 */
    table.lecture-comment-table{
        width: 95%;
    }
    .lecture-comment-message{
        width: 35%;
    }
}
@media screen and (max-width: 560px){
    .page-id-694 table.lecture-comment-table {
        /* display: block; */
    }

    /* .page-id-694 .user-table-comment-container.mode-sp{
        display: inline-table;
    } */
    /* .fixed_th_1{
        position: sticky;
        left: 4px;
        background-color: white;
    }

    .lecture-comment-message{
        width: 300px;
        min-height: 150px;
        display: block;
    } */
}
