@media screen and (max-width: 1024px){
    /* 4/19 tab対応 */
    table.lecture-comment-table{
        width: 95%;
    }
    .lecture-comment-message{
        width: 35%;
    }
}
@media screen and (max-width: 560px){
    table.lecture-comment-table {
        display: block;
        overflow-x: scroll;
    }

    .fixed_th_1{
        position: sticky;
        left: 4px;
        background-color: white;
    }

    .lecture-comment-message{
        width: 300px;
        min-height: 150px;
        display: block;
    }



    /* .index_button{
        width: 350px;
        height: 75px;
        padding: 20px;
    } */

    /* テーブル幅変更 */
    /* .table.lecture-comment-table  {
        display: table;
    }
    table.lecture-comment-table  .fixed_th_1{
        position: unset;
    }
    table.lecture-comment-table  .fixed_th_2{
        left: 0px;
    }
    table.lecture-comment-table  .fixed_th_3{
        left: calc(84px + 4px);
    } */

}
