/* #region 検索ボックス 3/2*/

    @media screen and (max-width: 1024px){
        /* ステージング対応 */
        .page-id-11 div.page_div_box {
            overflow:scroll;
        }
    }
    @media screen and (max-width: 560px){
        /* ステージング対応 */
        .page-id-11 .page_div_box {
            margin-top: -50px;
        }

        .page-id-11 .history_list_admin_title{
            margin-left: 35%;
        }
    }
/* #endregion */

table.lecture-table_sarch{
    display:inline-flex
}
@media screen and (max-width: 1024px){
    .page-id-11 .mode-pc{
        display: block;
    }
    
    table.lecture-table_sarch{
        display: block;
        position: absolute;
        top: 300px;
        left: 5%;
        width: 90%;
    }

    table.lecture-table_sarch input[name='input_serch']{
        width: 50%;
        margin-top:30px;
        margin-left: -10px;
    }
}
@media screen and (max-width: 560px){
    table.lecture-table_sarch{
        top: 300px;
        left: 5%;
    }
}


/* テーブル */
.user-table-container .tablesorter-header-inner{
    /* color: black; */
    /* background-color: white; */
}
@media screen and (max-width: 1024px){

    .tablesorter-headerRow{
        z-index: 10;
    }

    table.lecture-table .fixed_th_1 {
        position: sticky;
        left: 4px;
        /* background-color: white; */
        min-width: 86px;
    }
    table.lecture-table .fixed_th_2 {
        position: sticky;
        /* 先頭からセル幅＋ボーダー幅 */
        left: calc(4px + 80px + 8px);
        min-width: 385px;
    }
    table.lecture-table .fixed_th_3 {
        position: sticky;
        left: calc(92px + 380px + 6px);
    }
    table.lecture-table .fixed_th_4 {
        position: sticky;
        left: calc(208px + 100px + 2px);
    }

    table.lecture-table td.fixed_th_1,
    table.lecture-table td.fixed_th_2,
    table.lecture-table td.fixed_th_3{
        z-index: 0;
        background-color: white;
    }

    td.fixed_th_2.mode-tab.user-data{
        height: 72px;
        padding-top: 20px;
    }
}
@media screen and (max-width: 560px){
    .page-id-11 .mode-pc{
        display: none;
    }
    .page-id-11 .user-table-container.mode-sp{
        display: inline-table;
    }

    .user-table-container{
        overflow:scroll;
        width: 95%;
        margin: 0 auto;
    }
    .user-table-container .user-table-two{
        table-layout: fixed;
        width:100%;
    }
    .user-table-container .user-tabclose-button{
        width: 87%;
    }
    .user-table-container .index_history_button{
        width: 100%;
    }

    .user-table-container table.user-table-two th,
    .user-table-container table.user-table-two td{
        width: 50%;
        word-wrap: break-word;
        white-space: unset;
    }
    .user-table-container table.user-table-two .same-width-list{
        width: 100%;
    }


    th.fixed_th_2.mode-tab,
    td.fixed_th_2.mode-tab{
        display: none;
    }

    table.lecture-table .fixed_th_3 {
        position: sticky;
        left: 92px;
    }
}
