@media screen and (max-width: 1024px){
    .videoviewing_make_category table.user-table-two.mode-pc{
        display: inline-table;
        width: 95%;
    }
}
@media screen and (max-width: 560px){
    .videoviewing_make_category table.user-table-two.mode-pc{
        display: none;
    }

    .videoviewing_make_category table.user-table-two{
        display: inline-table;
        width: 95%;
    }
    .videoviewing_make_category table.user-table-two td{
        white-space: normal;
    }



}

