.page-id-185 .mode-sp{
    display: none;
}
@media screen and (max-width: 1024px){
    /* 4/28 */
    .page-id-185 table.lecture-table.mode-sp{
        display: none;
    }


    .lecture_center .lecture-table{
        display: block;
        overflow-x: scroll;
        width: 95%;
    }
    .lecture_center .lecture-table th.fixed_th_1{
        position: sticky;
        left: 4px;
        width: 144px;
    }
    .lecture_center .lecture-table td.fixed_th_1{
        position: sticky;
        left: 4px;
        background-color: unset;
        width: 144px;
        display: block;
    }
    .lecture_center .lecture-table th.fixed_th_2{
        position: sticky;
        left: 150px;
    }
    .lecture_center .lecture-table td.fixed_th_2{
        position: sticky;
        left: 150px;
        background-color: unset;
    }



}
@media screen and (max-width: 560px){
    .page-id-185 table.lecture-table.mode-sp{
        display: inline-table;
    }
    .page-id-185 .mode-pc{
        display: none;
    }


    .lecture_center{
        margin: 1em 1em 3em 1em;
        padding:0;
    }

    .lecture_center .lecture-table th.fixed_th_2,
    .lecture_center .lecture-table td.fixed_th_2{
        position: unset;
    }

    .top-index-txt{
        width: 90%;
    }
}

